<!-- Swiper -->
<section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix">
    <div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="padding: 250px 0px; background-image: url('/assets/slider/swiper/about.jpg'); background-size: cover; background-position: 0px -70.399px;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">
                    <div class="container clearfix">
                        <h1 data-caption-animate="fadeInUp" class="nobottommargin">About MarketCheck</h1>
                        <p class="d-none d-sm-block notopmargin bottommargin-sm" data-caption-animate="fadeInUp" data-caption-delay="200">Sample Text Sample Text - Industry Leading Data Providers, Partnering to Bring You a Higher Level of Service.</p>	
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>

<!-- CTA -->
<section>
    <div class="section nobottommargin notopmargin-xtra">
        <div class="container clearfix">
            <div class="dev-cta">
                <a href="#" data-caption-animate="fadeInUp" data-caption-delay="100" class="button button-large button-border button-white button-light button-rounded capitalize">MARKETCHECK APIs</a>
            </div>
        </div>
    </div>
</section>

<!-- Summary Content -->		
<section>
    <div class="section nobottommargin notopmargin-xtra2">
        <div class="container clearfix">
            <div class="content-wrap dev-summary">
                <div id="faqs" class="faqs">
                    <h3 class="topmargin-sm nobottommargin">What We Do</h3>
                    <p class="bottommargin-lg notopmargin">MarketCheck is an aggregator of automotive data. We monitor markets all across the US and into Canada, maintaining up-to-the-minute snapshots of fluctuating inventories, with VIN and zip code level granularity. Our data comes from over 60k dealerships spanning more than five years, and includes new, used and CPO listings. It powers apps, populates reports and informs values for the diverse group of developers and researchers who rely upon it daily. API Access is fast and easy to obtain, with a Basic Evaluation package provided free of charge and requiring no prior approval.</p>

                    <!-- product types -->
                    <div class="container clearfix">
                    </div>
                    <div class="container clearfix">
                        <div class="col_one_fourth">
                            <div class="feature-box fbox-plain fbox-dark fbox-small">
                                <div class="fbox-icon">
                                    <i class="icon-code"></i>
                                </div>
                                <h3>APIs</h3>
                                <p class="notopmargin">Access five years of data &amp; almost a billion listings instantly, by adding just a few lines of code.</p>
                            </div>
                        </div>
                        <div class="col_one_fourth">
                            <div class="feature-box fbox-plain fbox-dark fbox-small">
                                <div class="fbox-icon">
                                    <i class="icon-line2-social-dropbox"></i>
                                </div>
                                <h3>Feeds</h3>
                                <p class="notopmargin">Receive data in the format of your choice, &amp; according to your prefered schedule.</p>
                            </div>
                        </div>
                        <div class="col_one_fourth">
                            <div class="feature-box fbox-plain fbox-dark fbox-small">
                                <div class="fbox-icon">
                                    <i class="icon-line2-bar-chart"></i>
                                </div>
                                <h3>Reports</h3>
                                <p class="notopmargin">Custom reports created on a one-off basis, to meet your companie's specific requirements.</p>
                            </div>
                        </div>
                        <div class="col_one_fourth col_last">
                            <div class="feature-box fbox-plain fbox-dark fbox-small">
                                <div class="fbox-icon">
                                    <i class="icon-line2-refresh"></i>
                                </div>
                                <h3>Integrations</h3>
                                <p class="notopmargin">Dashboards &amp; third-party application integrations available when you need them.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about content -->	
    <div class="section nobottommargin notopmargin-xtra3">
        <hr  class="long-line">
        <div class="container clearfix">
            <div class="content-wrap dev-summary">
                <div id="faqs" class="faqs">
                    <div class="col_half notopmargin nobottommargin divcenter">
                        <h4 id="faq-7" class="notopmargin">MarketCheck Data</h4>
                        <p>The data we collect includes all of the standard fields you'd expect for an automotive listing--year, make, model, price, mileage and location of the car. But in addition to these standard fields, we also provide several other data points that will sometimes be of interest depending upon the type of product that you're working on. These additional items include things like: equipment level details, total days-on-market for each VIN, market averages, trend information, lease details, incentives and whether or not the car is new, used or certified pre-owned (CPO). For marketers, we also provide knock-out lists that so you can remove VINs that are no longer and dealer directories  </p>
                        <div class="line"></div>
                        <h4 id="faq-8">Integrating The Data</h4>
                        <p>MarketCheck data is made avaialble through several easy-to-integrate APIs, with end points already in place for most of the things you'll probably want to do with the data. Integrating it is fast and easy, and if you already have experience with APIs you most likely won't need to talk to us to get it up and running. But if you do need help we're happy to lend a hand, even if you're just using the free evaluation packages. For some special types of uses requiring a lot of pre-processing, like custom analytics, you may want to instead use a feed rather than an API. For these cases we're happy to set up a "dump" at the location and schedule that you require. We prefer FTP but if you need something else, it's do-able. In the case of special reports or other types of occasional uses, just let us know what you need and we can probably create it. Data can be sent raw or pre-processed according to your preference and in any databse format that you might require.</p>
                        <div class="line"></div>
                        <h4 id="faq-9">Autobot</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nisi, laborum autem reprehenderit excepturi harum ipsum quod sit. Inventore et sunt nemo natus labore voluptate omnis reprehenderit culpa. Minus vitae molestiae totam ut a accusamus at fugiat nemo debitis delectus? Consectetur, deleniti, cupiditate ad doloribus numquam minus illum fugit laborum a voluptatum nulla at autem ab beatae odio dolorem assumenda magni laudantium saepe recusandae doloremque illo nesciunt aut quos debitis neque reiciendis veritatis iusto eos aliquid voluptatem pariatur eveniet velit?</p>
                        <div class="line"></div>
                        <h4 id="faq-10"><strong>Q.</strong> Ullam natus illum magnam alias nobis doloremque delectus ipsa dicta?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, culpa eaque! Accusamus, molestiae, aspernatur, consequatur eaque laborum ipsum iure tempora minus laudantium inventore dolor assumenda magni cum id odio quam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo iusto aliquam voluptatem? Reiciendis, beatae, ipsam delectus voluptas ea error voluptates labore corporis ad tenetur sunt temporibus aperiam sit quis quasi tempora enim quo numquam provident ullam velit cumque similique veritatis quidem aliquam voluptatibus atque fugiat recusandae accusamus praesentium aut ipsa.</p>
                        <div class="line"></div>
                        <h4 id="faq-11"><strong>Q.</strong> Ullam natus illum magnam alias nobis doloremque delectus ipsa dicta?</h4>
                        <p class="nobottommargin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo iusto aliquam voluptatem? Reiciendis, beatae, ipsam delectus voluptas ea error voluptates labore corporis ad tenetur sunt temporibus aperiam sit quis quasi tempora enim quo numquam provident ullam velit cumque similique veritatis quidem aliquam voluptatibus atque fugiat recusandae accusamus praesentium aut ipsa.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- rendering partial contact -->
<%= render partial: "contact" %>
