<section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix">
    <div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="padding: 250px 0px; background-image: url('/assets/slider/swiper/for_dealers.jpg'); background-size: cover; background-position: 0px -103.399px;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">
                    <div class="container clearfix">
                        <h1 data-caption-animate="fadeInUp" class="nobottommargin">MarketCheck for Dealers</h1>
                        <p class="d-none d-sm-block notopmargin bottommargin-sm" data-caption-animate="fadeInUp" data-caption-delay="200"><b>MarketCheck widens your audience, by getting your cars in front of more buyers, for FREE. There's no contract, fees or set-up required.</b></p>

                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>


<!-- value propositions -->
<section id="content" style="margin-bottom: 0px;">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="col_one_third">
                <div class="heading-block fancy-title nobottomborder nobottommargin title-bottom-border">
                    <h4>What We <span>Do</span>.</h4>
                </div>
                <p>We make cars easier to find, by gathering them together into one big database that we share with other developers. Suddenly your inventory becomes visible in websites &amp; apps all across the industry. Click here to read <a href="#"><i>more about MarketCheck for dealers</i></a></p> 
            </div>
            <div class="col_one_third">
                <div class="heading-block fancy-title nobottomborder nobottommargin title-bottom-border">
                    <h4>How We <span>Do It </span>.</h4>
                </div>
                <p>We crawl 63k dealerships daily. Our crawler's called "AutoBot" and it's a polite crawler that respects all site instructions. It works like Google, crawling and indexing content but with a special focus on cars. Click here to learn <a href="#"><i>more about AutoBot</i></a></p>
            </div>
            <div class="col_one_third col_last">
                <div class="heading-block fancy-title nobottomborder nobottommargin title-bottom-border">
                    <h4>Be <span>Included</span>.</h4>
                </div>
                <p>Having your listings included couldn't be easier. Just make sure that they can be seen by the major search engines and then you're all set. If you're not sure, just search for any of your cars here in MarketCheck. Click here to <a href="#"><i>Search for Cars</i></a></p>
            </div>
        </div>
    </div>
</section>

<!-- rendering partial contact -->
<%= render partial: "contact" %>

