<!-- Swiper -->
<section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix">
    <div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="padding: 250px 0px; background-image: url('/assets/slider/swiper/products.jpg'); background-size: cover; background-position: 0px -70.399px;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">
                    <div class="container clearfix">
                        <h1 data-caption-animate="fadeInUp" class="nobottommargin">MarketCheck Automotive Data</h1>
                        <p class="d-none d-sm-block notopmargin bottommargin-sm" data-caption-animate="fadeInUp" data-caption-delay="200">MarketCheck is the most powerful, robust &amp; comprehensive database of its' kind. Basic level API access is fast, easy &amp; <b>FREE.</b></p>	
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>


<!-- data counter -->
<section>
    <div class="section nobottommargin notopmargin">
        <div class="container clearfix">

            <div class="col_one_fourth nobottommargin notopmargin center">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-data"></i>
                <div class="counter counter-small" style="color: #005dff;"><span data-from="1000" data-to="61003" data-comma="true" data-refresh-interval="50" data-speed="2500"></span></div>
                <h5 class="nobottommargin">Dealerships</h5>
            </div>
            <div class="col_one_fourth nobottommargin center">
                <i class="i-plain i-xlarge divcenter nobottommargin notopmargin icon-data"></i>
                <div class="counter counter-small" style="color: #005dff;"><span data-from="1000000" data-to="4030880" data-comma="true" data-refresh-interval="50" data-speed="3000"></span></div>
                <h5 class="nobottommargin">Active Listings</h5>
            </div>
            <div class="col_one_fourth nobottommargin center">
                <i class="i-plain i-xlarge divcenter nobottommargin notopmargin icon-data"></i>
                <div class="counter counter-small" style="color: #005dff;"><span data-from="100000000" data-to="61501456" data-refresh-interval="50" data-comma="true" data-speed="3500"></span></div>
                <h5 class="nobottommargin">unique VINs</h5>
            </div>
            <div class="col_one_fourth nobottommargin center col_last">
                <i class="i-plain i-xlarge divcenter nobottommargin notopmargin icon-data"></i>
                <div class="counter counter-small" style="color: #005dff;"><span data-from="1000000" data-to="995800043" data-refresh-interval="30" data-comma="true" data-speed="4000"></span></div>
                <h5 class="nobottommargin">Historical Listings</h5>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</section>  

<!-- summary text -->		
<section>
    <div class="section nobottommargin notopmargin-xtra2">
        <div class="container nobottommargin clearfix">

            <h4 class="topmargin-sm nobottommargin"><i class="icon-data"></i>&nbsp;&nbsp;MarketCheck Automotive Data</h4>
            <p class="bottommargin-sm notopmargin">MarketCheck sources data from over 63,000 car websites daily, with approximately 53,000 located within the US and another 6,000 in Canada.  Totals fluctuate daily as inventory levels change, but generally you'll find that MarketCheck database has about 6.6 million listings with about 3.9 million unique VINs. OF those 6.6 million, approximately 9% will usually be new vehicles (depending upon the season) with the remaining 91% being a combination of used and CPO vehicles. Canadian counts total around 500k with about 290k being "new" inventory and the remaining 200k being "used." Data is mined from dealer websites using a polite crawler called "Autobot." The Autobot is a "polite crawler" that treads lightly and follows all robots.txt instructions on the target sites it collects data from. Refreshes across the entire set are completed in 24 hour intervals, with an average 2-3% of the sites requiring ongoing maintenance. For the 2-3% of sited being worked on average turn around time is 48 hours. Please note that we monitor all sites on an ongoing basis and make every effort to repair breaks as soon as they're discovered. 
            </p>

        </div>
    </div>
</section>

<!-- API accordians -->
<section id="content" style="margin-bottom: 0px;">
    <div class="container topmargin-sm clearfix">

        <div class="col_two_third notopmargin">
            <h3 class"nobottommargin ">AVAILABLE APIs</h3>
            <div class="toggle style-accord toggle-border card-space">
                <div class="togglet toggle-border2">
                    <i class="toggle-closed icon-accord icon-plus"></i>
                    <i class="toggle-open icon-accord i-large icon-minus"></i>
                    <h5 class="label-accord">INVENTORY API</h5>
                </div>
                <div class="togglec" style="display: none;">
                    <h4 class="nobottommargin topmargin-sm">Inventory API</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at ulla.</p>
                    <table class="table table-bordered notopmargin-xtra6 nobottommargin">
                        <thead class="table-top">
                            <tr>
                                <th>ACCESS LEVEL</th>
                                <th>MAX CALLS</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Basic</td>
                                <td>100k / Month</td>
                                <td><b>FREE!</b></td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>500K / Month</td>
                                <td>$299 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>2 Mill / Month</td>
                                <td>$599 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>Unlimited</td>
                                <td>*Inquire</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary bottommargin-lg topmargin-sm">&nbsp; &nbsp; &nbsp;SIGN-UP FOR ACCESS&nbsp; &nbsp; &nbsp;</button> 
                </div>
            </div>
            <div class="toggle style-accord toggle-border card-space">
                <div class="togglet toggle-border2">
                    <i class="toggle-closed icon-accord icon-plus"></i>
                    <i class="toggle-open icon-accord i-large icon-minus"></i>
                    <h5 class="label-accord">LISTING HISTORY</h5>
                </div>
                <div class="togglec" style="display: none;">
                    <h4 class="nobottommargin topmargin-sm">Listing History</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at ulla.</p>
                    <table class="table table-bordered notopmargin-xtra6 nobottommargin">
                        <thead class="table-top">
                            <tr>
                                <th>ACCESS LEVEL</th>
                                <th>MAX CALLS</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>add the name</td>
                                <td>100k / Month</td>
                                <td><b>FREE!</b></td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>500K / Month</td>
                                <td>$299 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>2 Mill / Month</td>
                                <td>$599 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>Unlimited</td>
                                <td>*Inquire</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary bottommargin-lg topmargin-sm">&nbsp; &nbsp; &nbsp;SIGN-UP FOR ACCESS&nbsp; &nbsp; &nbsp;</button> 
                </div>
            </div>
            <div class="toggle style-accord toggle-border card-space">
                <div class="togglet toggle-border2">
                    <i class="toggle-closed icon-accord icon-plus"></i>
                    <i class="toggle-open icon-accord i-large icon-minus"></i>
                    <h5 class="label-accord">DEALER DATA</h5>
                </div>
                <div class="togglec" style="display: none;">
                    <h4 class="nobottommargin topmargin-sm">Dealer Data</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at ulla.</p>
                    <table class="table table-bordered notopmargin-xtra6 nobottommargin">
                        <thead class="table-top">
                            <tr>
                                <th>ACCESS LEVEL</th>
                                <th>MAX CALLS</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>add the name</td>
                                <td>100k / Month</td>
                                <td><b>FREE!</b></td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>500K / Month</td>
                                <td>$299 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>2 Mill / Month</td>
                                <td>$599 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>Unlimited</td>
                                <td>*Inquire</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary bottommargin-lg topmargin-sm">&nbsp; &nbsp; &nbsp;SIGN-UP FOR ACCESS&nbsp; &nbsp; &nbsp;</button> 
                </div>
            </div>
            <div class="toggle style-accord toggle-border card-space">
                <div class="togglet toggle-border2">
                    <i class="toggle-closed icon-accord icon-plus"></i>
                    <i class="toggle-open icon-accord i-large icon-minus"></i>
                    <h5 class="label-accord">MARKET API</h5>
                </div>
                <div class="togglec" style="display: none;">
                    <h4 class="nobottommargin topmargin-sm">Market API</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at ulla.</p>
                    <table class="table table-bordered notopmargin-xtra6 nobottommargin">
                        <thead class="table-top">
                            <tr>
                                <th>ACCESS LEVEL</th>
                                <th>MAX CALLS</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>add the name</td>
                                <td>100k / Month</td>
                                <td><b>FREE!</b></td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>500K / Month</td>
                                <td>$299 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>2 Mill / Month</td>
                                <td>$599 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>Unlimited</td>
                                <td>*Inquire</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary bottommargin-lg topmargin-sm">&nbsp; &nbsp; &nbsp;SIGN-UP FOR ACCESS&nbsp; &nbsp; &nbsp;</button> 
                </div>
            </div>
            <div class="toggle style-accord toggle-border card-space">
                <div class="togglet toggle-border2">
                    <i class="toggle-closed icon-accord icon-plus"></i>
                    <i class="toggle-open icon-accord i-large icon-minus"></i>
                    <h5 class="label-accord">VIN DECODER</h5>
                </div>
                <div class="togglec" style="display: none;">
                    <h4 class="nobottommargin topmargin-sm">VIN Decoder</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at ulla.</p>
                    <table class="table table-bordered notopmargin-xtra6 nobottommargin">
                        <thead class="table-top">
                            <tr>
                                <th>ACCESS LEVEL</th>
                                <th>MAX CALLS</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>add the name</td>
                                <td>100k / Month</td>
                                <td><b>FREE!</b></td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>500K / Month</td>
                                <td>$299 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>2 Mill / Month</td>
                                <td>$599 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>Unlimited</td>
                                <td>*Inquire</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary bottommargin-lg topmargin-sm">&nbsp; &nbsp; &nbsp;SIGN-UP FOR ACCESS&nbsp; &nbsp; &nbsp;</button> 
                </div>
            </div>
            <div class="toggle style-accord toggle-border card-space">
                <div class="togglet toggle-border2">
                    <i class="toggle-closed icon-accord icon-plus"></i>
                    <i class="toggle-open icon-accord i-large icon-minus"></i>
                    <h5 class="label-accord">LEASE DATA</h5>
                </div>
                <div class="togglec" style="display: none;">
                    <h4 class="nobottommargin topmargin-sm">Lease Data</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at ulla.</p>
                    <table class="table table-bordered notopmargin-xtra6 nobottommargin">
                        <thead class="table-top">
                            <tr>
                                <th>ACCESS LEVEL</th>
                                <th>MAX CALLS</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>add the name</td>
                                <td>100k / Month</td>
                                <td><b>FREE!</b></td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>500K / Month</td>
                                <td>$299 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>2 Mill / Month</td>
                                <td>$599 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>Unlimited</td>
                                <td>*Inquire</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary bottommargin-lg topmargin-sm">&nbsp; &nbsp; &nbsp;SIGN-UP FOR ACCESS&nbsp; &nbsp; &nbsp;</button> 
                </div>
            </div>
            <div class="toggle style-accord toggle-border card-space">
                <div class="togglet toggle-border2">
                    <i class="toggle-closed icon-accord icon-plus"></i>
                    <i class="toggle-open icon-accord i-large icon-minus"></i>
                    <h5 class="label-accord">INCENTIVES &amp; SPEACIALS</h5>
                </div>
                <div class="togglec" style="display: none;">
                    <h4 class="nobottommargin topmargin-sm">Incentives &amp; Specials</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at ulla.</p>
                    <table class="table table-bordered notopmargin-xtra6 nobottommargin">
                        <thead class="table-top">
                            <tr>
                                <th>ACCESS LEVEL</th>
                                <th>MAX CALLS</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>add the name</td>
                                <td>100k / Month</td>
                                <td><b>FREE!</b></td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>500K / Month</td>
                                <td>$299 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>2 Mill / Month</td>
                                <td>$599 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>Unlimited</td>
                                <td>*Inquire</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary bottommargin-lg topmargin-sm">&nbsp; &nbsp; &nbsp;SIGN-UP FOR ACCESS&nbsp; &nbsp; &nbsp;</button> 
                </div>
            </div>
            <div class="toggle style-accord toggle-border card-space">
                <div class="togglet toggle-border2">
                    <i class="toggle-closed icon-accord icon-plus"></i>
                    <i class="toggle-open icon-accord i-large icon-minus"></i>
                    <h5 class="label-accord">ACCESSORIES</h5>
                </div>
                <div class="togglec" style="display: none;">
                    <h4 class="nobottommargin topmargin-sm">Accessories</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at ulla.</p>
                    <table class="table table-bordered notopmargin-xtra6 nobottommargin">
                        <thead class="table-top">
                            <tr>
                                <th>ACCESS LEVEL</th>
                                <th>MAX CALLS</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>add the name</td>
                                <td>100k / Month</td>
                                <td><b>FREE!</b></td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>500K / Month</td>
                                <td>$299 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>2 Mill / Month</td>
                                <td>$599 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>Unlimited</td>
                                <td>*Inquire</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary bottommargin-lg topmargin-sm">&nbsp; &nbsp; &nbsp;SIGN-UP FOR ACCESS&nbsp; &nbsp; &nbsp;</button> 
                </div>
            </div>
            <div class="toggle style-accord toggle-border card-space">
                <div class="togglet toggle-border2">
                    <i class="toggle-closed icon-accord icon-plus"></i>
                    <i class="toggle-open icon-accord i-large icon-minus"></i>
                    <h5 class="label-accord">CRM ClEANSE</h5>
                </div>
                <div class="togglec" style="display: none;">
                    <h4 class="nobottommargin topmargin-sm">CRM Cleanse</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at ulla.</p>
                    <table class="table table-bordered notopmargin-xtra6 nobottommargin">
                        <thead class="table-top">
                            <tr>
                                <th>ACCESS LEVEL</th>
                                <th>MAX CALLS</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>add the name</td>
                                <td>100k / Month</td>
                                <td><b>FREE!</b></td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>500K / Month</td>
                                <td>$299 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>2 Mill / Month</td>
                                <td>$599 / Month</td>
                            </tr>
                            <tr>
                                <td>add the name</td>
                                <td>Unlimited</td>
                                <td>*Inquire</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary bottommargin-lg topmargin-sm">&nbsp; &nbsp; &nbsp;SIGN-UP FOR ACCESS&nbsp; &nbsp; &nbsp;</button> 
                </div>
            </div> <!-- end of toggle -->  
        </div> <!-- end of left column -->

        <!-- right column -->
        <div class="col_one_third col_last bump-down nobottommargin">
            <!-- top container -->
            <div class="style-sidebar nobottommargin">
                <h2 class="nobottommargin fleft whiteness"><i class="icon-line-server"></i>&nbsp; &nbsp;Get API Access</h2>
                <div class="clear-blocky"> 
                    <p class="nobottommargin">Sign-up for a free evaluation account to start pulling back data within mere minutes. No credit card or approval is required, and we'll be here ready to help out if you need anything along the way.</p>
                    <div class="center nobottommargin"><a href="#" class="button button-large button-circle button-circle-inactive button-border button-white button-light topmargin-sm noleftmargin nobottommargin">CREATE ACCOUNT</a>
                    </div>
                </div>
            </div>
            <!-- lower container -->
            <div class="container center style-sidebar2 notopmargin">
                <h4 class="nobottommargin fleft whiteness">PH 801.755.3351</h4>
                <div class="clear-blocky"> 
                </div>
            </div>

        </div> <!-- end of content wrapper -->
</section>

<!-- rendering partial contact -->
<%= render partial: "contact" %>

<script>

  jQuery(document).ready(function ($) {
      var newDate = new Date(2018, 9, 31);
      $('#countdown-ex1').countdown({until: newDate});
      $('#countdown-ex2').countdown({until: newDate});
      $('#countdown-ex3').countdown({until: newDate});

      var newDate4 = new Date(2018, 9, 31);
      $('#countdown-ex4').countdown({until: newDate4});

      $('#start-downloadbtn').click(function () {
          $('#start-downloadbtn').fadeOut(300, function () {
              $('#start-download').fadeIn(300, function () {
                  var currentDate = new Date();
                  currentDate.setSeconds(currentDate.getSeconds() + 10);
                  $('#countdown-ex5').countdown({
                      until: currentDate,
                      format: 'S',
                      expiryUrl: 'http://themeforest.net/user/SemiColonWeb',
                      onExpiry: function () {
                          $('#start-download').html('Your Download should start automatically. If it dosen\'t, <a href="#" class="alert-link">click here</a>.');
                      }
                  });
              });
          });
          return false;
      });
  });

</script>  
