/* ----------------------------------------------------------------
        Custom CSS

        Add all your Custom Styled CSS here for New Styles or
        Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/





#shrink-size {
    height: 10px;
}

/* ----------------------------------------------------------------
        customize accordians
-----------------------------------------------------------------*/

.card-header2 {
    padding: 1.1rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.add-padding {
    height: 30px;
}


/* ----------------------------------------------------------------
        customize the developers page
-----------------------------------------------------------------*/

.dev-summary {
    padding-top: 20px;
}

.dev-cta {
    position: relative;
    max-width: 800px;
    text-align: center;
    margin: -30px auto;
    left: 0;
    right: 0;
}

.long-line {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, .3);
}

.notopmargin-xtra {
    margin-top: -80px !important;
    background-color: #005dff;
    height: 170px;
}

.notopmargin-xtra2 {
    margin-top: -50px;
    padding: 0px;
}

.notopmargin-xtra3 {
    margin-top: -90px;
    padding: 0px;
}

.notopmargin-xtra4 {
    margin-top: -28px;
    padding: 0px;
}

.notopmargin-xtra5 {
    margin-top: -20px;
    padding: 0px;
}

.notopmargin-xtra6 {
    margin-top: -14px;
    padding: 0px;
}

.notopmargin-xtra7 {
    margin-top: 14px;
    padding: 8px;
}

.notopmargin-xtra8 {
    margin-top: -20px !important;
    background-color: #005dff;
    height: 100px;
}

.card-space {
    margin-top: -14px;
}

.icon-accord {
    margin-top: -18px;
    color: #005dff;
}

.label-accord {
    color: #005dff;
    margin: 12px;
}

.style-accord {
    padding: .5rem 1rem;
    border: 1px solid;
    border-color: rgba(0, 0, 0, .05);
    background-color: rgba(0, 0, 0, .04);
}

.style-sidebar {
    margin-top: 40px;
    padding: 28px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, .05);
    color: #fff;
    background-color: #005dff;
    min-width: 260px;
}

.style-sidebar2 {
    background-color: #011631;
    padding-top: 18px;
    padding-left: 28px;
    padding-bottom: 18px;
    min-width: 260px;
}

.clear-blocky {
    clear: both;
}

.api-select {
    max-width: 200px;
}

.counter {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.bump-down {
    margin-top: 10px;
}


/* ----------------------------------------------------------------
        vertically centers the search modal on the screen
-----------------------------------------------------------------*/


@media (max-width: 991px) {
    #header.transparent-header + #slider, #header.transparent-header + #page-title.page-title-parallax, #slider + #header.transparent-header, #header.transparent-header.floating-header + #slider, #header.transparent-header + #google-map {
        margin-bottom: -150px;
    }   
}



/* ----------------------------------------------------------------
        vertically centers the search modal on the screen
-----------------------------------------------------------------*/


.modal-dialog {
    min-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}



/* ----------------------------------------------------------------
        color codes the prices shown on the serp screen
-----------------------------------------------------------------*/


.car-price-average {
    display: block;
    font-size: 30px;
    color: #555;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 1px;
}

.car-price-high {
    display: block;
    font-size: 30px;
    color: #ff2b00;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 1px;
}

.car-price-low {
    display: block;
    font-size: 30px;
    color: #33cc00;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 1px;
}

/* ----------------------------------------------------------------
  Enlarges the Slider space on mobile devices so the buttons also show up
-----------------------------------------------------------------*/


.swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
    min-height: 320px !important;
}

/* ----------------------------------------------------------------
        indents bullets within the tabbed API docs
-----------------------------------------------------------------*/

.list-indentation {
    padding-left: 50px;
    list-style-position: outside;
}

/* ----------------------------------------------------------------
        indents left and right of contact form and requests table in API pages
-----------------------------------------------------------------*/																						

#shrink-contact {
    margin-left: 150px;
    margin-right: 150px;
}

#shrink-table {
    margin-left: 150px;
    margin-right: 150px;
}


/* ----------------------------------------------------------------
        builds a box around the API string
-----------------------------------------------------------------*/																						

.query-string {
    color: #fff;
    background-color: #6c757d;
    background-image: none;
    border-color: #6c757d;
}



/* ----------------------------------------------------------------
        alters display of the mileage and equipment buttons on the serp
-----------------------------------------------------------------*/

.btn-outline-secondary-features {
    color: #6c757d;
    background-color: none;
    background-image: none;
    border-color: #d3d3d3;
}

.btn-outline-secondary-avgmileage {
    color: #fff;
    background-color: #6c757d;
    background-image: none;
    border-color: #6c757d;
}

.btn-outline-secondary-highmileage {
    color: #fff;
    background-color: #ff2b00;
    background-image: none;
    border-color: #ff2b00;
}

.btn-outline-secondary-lowmileage {
    color: #fff;
    background-color: #33cc00;
    background-image: none;
    border-color: #33cc00;
}










