<footer id="footer" class="dark notopmargin nobottommargin">
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col_half"><img src="assets/logo-dark.png">Copyright &copy; 2018 MarketCheck Cars Inc. All Rights Reserved. 
            </div>
            <div class="col_half col_last tright">
                <div class="copyrights-menu copyright-links fright clearfix">
                    <a href="#">Home</a>/<a href="#">Products</a>/<a href="#">Charts</a>/<a href="#">Car Search</a>/<a href="#">AutoBot</a>/<a href="#">Developer API</a>/<a href="#">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer><!-- #footer end -->
